# Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# Build results
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.log
*.lib
*.exp
*.obj

# NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Rider / JetBrains
.idea/
*.sln.iml

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# User-specific
*.suo
*.user
*.config.user
